/tmp
/.classpath
/.project
/.settings
/eclipse
/bin
/application.log
#/conf/application.conf
/public/crud
/public/secure
*.log
*.pyc
*.pid
/build/
/logs/system.out
/precompiled
/modules

#for testing
/test-result
/test

# for IntelliJ
.idea/
*.iml
*.ipr
*.iws
