<!DOCTYPE html>

<html>
	<head>
		<title>#{get 'title' /}</title>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" media="screen" 
			href="@{'/public/stylesheets/main.css'}" />
		<link rel="shortcut icon" type="image/png" 
			href="@{'/public/images/co_logo.png'}" />
	</head>
	<body>
		<div id="header">
			<div id="logo">
				edit-milmoDB
			</div>
			<ul id="tools">
				<li>
					<a href="@{Application.index()}">Log in</a>
				</li>
			</ul>
		</div>

		<div id="main">
			#{doLayout /} 
		</div>

		<p id="footer">
			milmoDB built with the 
			<a href="http://www.playframework.org">Play framework</a>.
		</p>
	</body>
</html>
